<footer class="footer">
    <nav id="navbar" class="navbar_hidden">
        <a id="nav-exhibitions" class="nav-btns" href="/exhibitions/">EXHIBITIONS</a>
        <a id="nav-artists" class="nav-btns" href="/artists/">ARTISTS</a>
        <a id="nav-info" class="nav-btns" href="/info/">INFO</a>
    </nav>
    <div id="logo_container">
        <h1 id="logo" alt="LUTNIȚA"><a href="/"><img id="logo_img"
            src="https://cdn.lutnita.md/img/lutnita_logo_transparent_black.png"
            alt="LUTNIȚA"></a></h1>
    </div>
</footer>