<footer class="footer">
    <section id="navbar" class="navbar_hidden">
        <a id="nav-exhibitions" class="nav-btns" href="/exhibitions/">EXHIBITIONS</a>
        <a id="nav-artists" class="nav-btns" href="/artists/">ARTISTS</a>
        <a id="nav-info" class="nav-btns" href="/info/">INFO</a>
    </section>
    <div id="logo_container">
        <h1 id="logo" alt="LUTNIȚA"><a href="/"><img id="logo_img"
            src="https://d23fd8t3cgh0wq.cloudfront.net/img/lutnita_logo_transparent_black.png"
            alt="LUTNIȚA"></a></h1>
    </div>
</footer>