<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "{{ .Site.Title }}",
      "url": "{{ .Site.BaseURL | safeHTML }}"
    }
</script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ArtGallery",
      "name": "{{ .Site.Title }}",
      "url": "{{ .Site.BaseURL | safeHTML }}",
      "logo": "{{ .Site.Params.assetUrl | safeHTML }}/img/lutnita_logo_transparent_black.png",
      "email": "galeria@lutnita.md",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Chișinău",
        "addressCountry": "Republic of Moldova"
      },
      "sameAs": [
        "https://www.instagram.com/galerialutnita/",
        "https://www.facebook.com/p/Lutni%C8%9Ba-100082917473765/"
      ]
    }
</script>    