/* @media screen and (min-resolution: 150dpi) and (min-width: 1025px) {
    .image_container {
        width: 67vw;
    }

    .center_image_one_exhib {
        width: 56vw;
    }

    .right_space {
        width: 13vw;
    }

    .videowrapper {
        width: 56vw;
    }
} */