{{- define "main" }}
  {{- $assetUrl := .Site.Params.assetUrl }}
  {{- $data := .Params.data }}
  {{- $first := index $data 0 }}
  {{- $artistNames := partial "spec/artistnames.html" (dict "artistNameSource" $first.artistname) }}
  <section id="text_section" class="text_section">
    <h2 class="title">{{ .Params.subtitle }}</h2>
    {{- range $i, $d := $data }}
    <div class="text_container" onclick="location.assign('/exhibitions/{{ .exhibname }}')">
      {{- if eq $i 0 }}
      <div class="names_wrapper">
        {{- $name := .namepath }}
        {{- range $name }}
        <div class="names_container">
          <img class="artist_name"
              src="{{ $assetUrl }}/img/exhibitions/namepaths/{{ . }}">
        </div>
        {{- end }}
      </div>
      {{- end }}
      <h4 class="exhibition_date">{{ .date }}</h4>
      </div>
      <div class="image_container_mob_index">
        <img class="center_image_mob" src="{{ $assetUrl }}/img/exhibitions/{{ .image }}" alt="{{ $artistNames }}" onclick="location.assign('/exhibitions/{{ .exhibname }}')">
      </div>
    </div>
    {{- end }}
  </section>
  <section class="image_container"><img class="center_image_index"
        src="{{ $assetUrl }}/img/exhibitions/{{ $first.image }}" alt="{{ $artistNames }}"
        onclick="location.assign('/exhibitions/{{ $first.exhibname }}')">
  </section>
  <section class="right_space"></section>
{{ end -}}

{{- define "scripts" -}}
  {{- partial "assets/js" . }}
{{- end -}}
