{{- $exhibdata := index . "exhibdata" }}
{{- $artistname := index . "artistname" }}
{{- $exhibname := $exhibdata.exhibname }}
{{- if eq $exhibname $artistname }}
        <div id="{{ index . "id" }}" class="{{ index . "class" }}" onclick="location.assign('/exhibitions/{{ $exhibname }}')">
            <h6 class="exhib_link_text">Exhibition</h6>
            <h4 id="artist_exhib_date" class="exhibition_date">{{ $exhibdata.date }}</h4>
        </div>
{{- else if and (eq $exhibname "cepleanugorduz") (eq $artistname "dianacepleanu")}}
        <div id="{{ index . "id" }}" class="{{ index . "class" }}" onclick="location.assign('/exhibitions/cepleanugorduz')">
            <h6 class="exhib_link_text">Exhibition</h6>
            <h4 id="artist_exhib_date" class="exhibition_date">{{ $exhibdata.date }}</h4>
        </div>
{{- else if and (eq $exhibname "pavelbrailav1") (eq $artistname "pavelbraila")}}
        <div id="{{ index . "id" }}" class="{{ index . "class" }}" onclick="location.assign('/exhibitions/pavelbrailav1')">
            <h6 class="exhib_link_text">Exhibition vol. I</h6>
            <h4 id="artist_exhib_date" class="exhibition_date">26 Sep 2025 — 16 Nov 2025</h4>
        </div>
        <div id="{{ index . "id" }}" class="{{ index . "class" }}" onclick="location.assign('/exhibitions/pavelbrailav2')">
            <h6 class="exhib_link_text">Exhibition vol. II</h6>
            <h4 id="artist_exhib_date" class="exhibition_date">11 Oct 2025 — 16 Nov 2025</h4>
        </div>
{{- end }}
